body {
	background:#E2E2E2;
}
.ci{
	width:150px;
	height:150px;
	border-radius:50%;
	border:60px solid transparent;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
#m1{
	border-top:60px solid #F10B00;
	transform:rotate(-7deg);
	z-index:4;
}
#m2{
	border-top:60px solid #F1B700;
	transform:rotate(-90deg);
	z-index:3;
}
#m3{
	border-top:60px solid #009E27;
	transform:rotate(-170deg);
	z-index:2;
}
#m4{
	border-top:60px solid #007DD8;
	transform:rotate(-230deg);
	z-index:1;
}
#m5{
	width:120px;
	height:57px;
	position:absolute;
	margin:auto;
	left:150px;
	right:0;
	top:10px;
	bottom:0;
	background:#007DD8;
	border-radius: 0 0 50px 0;
	z-index:1;
}
#m6{
	width:140px;
	height:140px;
	border-radius:50%;
	border:18px solid #818181;
	border-top:10px solid transparent;
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	transform:rotate(74deg);
}
hr{
	position:absolute;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:-320px;
	background:#818181;
	border-radius:50%;
	height:10px;
	width:180px;
}